.pie-listing, .pie-view ,.pie-editor {
    border: double silver;
    margin: 1px;
}
.pie-listing .th , .pie-view .th ,.pie-editor  .th{
    background-color: lightblue;
    font-weight: bold;
    border: thin solid silver;

}
.pie-listing .td, .pie-view .td,.pie-editor  .td {
    border: thin solid silver;

}
.pie-listing .selected {
    background-color: cyan;
}
.pie-editor input {
    width: 95%;
}
.pie-editor .td, .pie-editor .th {
    height:25px;

}